body {
	background: url("/html/imgs/bg-login.jpg") fixed no-repeat center center;
}

.frmLogin form {
	width: 55%;
	margin-left: 25%;
	margin-top: 10%;
}

.frmLogin a {
	float: right;
	
}

.tituloPrincipal {
	margin-top: 50px;
}

.esqSenha {
	margin-top: 2%;
}


.bemVindo {
	color: #34495e !important;
}

.smallImg {
	width: 10%;
	float: right;
	cursor: pointer;
}